body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #2E3192, #1BFFFF);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  }
  

  .Top-bar {
    width: 100%;
    background-color: rgba(22, 28, 94, 0.95);
    color: white;
    text-align: center;
    padding: 1.2rem 0;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .About-author-btn {
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-weight: 700;
  
  }

  .About-author-btn:hover {
    scale: 1.1;
  }
  
  .Login-btn {
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-weight: 700;
  }

  .Login-btn:hover {
    scale: 1.1;
  }

  .Sign-up-btn {
    position: absolute;
    top: 25px;
    left: 150px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-weight: 700;
  }

  .Sign-up-btn:hover {
    scale: 1.1;
  }
  
  .nav-middle {
    margin: 0;
  }
  

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  

  .start-btn {
    padding: 18px 60px;
    background-color: #e3e55b;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    margin-top: 20px;
  }

  
  .start-btn:hover {
    background-color: #d3d64b;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
    scale: 1.1;
  }
  
  .Top {
    font-size: 2rem;
    font-weight: 700;
    color: #10174a;
    margin-bottom: 20px;
  }
  
  .Text {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #000;
  }

  .displayname-btn {
    position: absolute;
    top: 25px;
    left: 75px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-weight: 700;
    opacity: 0;
  }

  .displayname-btn:hover {
    cursor: pointer;
  }

  .nav-left {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-weight: 700;
  }
