

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins";
}

body{
    background: linear-gradient(135deg, #2E3192, #1BFFFF);
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;;
}

.form-container {
    position: relative;
    background-color: white;
    padding: 50px;
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    border: 2px solid(black);
    overflow: hidden;
}

.header {
    position: relative;
    z-index: 1;
}


.header p {
    color:black;
}

.header h1 {
    font-size: 32px;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.input-group {
    position: relative;
    display: flex;
}

.input-field{
    height: 50px;
    padding-inline: 10px;
    border: 1px solid(black);
    border-radius: 6px;
    width: 100%;
    outline: none;
}

.input-field::placeholder {
    color: transparent;
}

#password{
    padding-right: 30px;
}

.label {
    position: absolute;
    top: 27%;
    left: 10px;
    transform: translateY(-40%);
    background-color: white;
    padding-inline: 6px;
    opacity: 0.45;
    pointer-events: none;
}

.input-field:focus ~ .label, .input-field:not(:placeholder-shown)~ .label {
    top: -5px;
    opacity: 1;

}

.link {
    position: relative;
    left: 200px;
    bottom: 26px;
}

.btn-submit {
   height: 65px;
}






