.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #2E3192, #1BFFFF);
    max-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 15px;

}
.scheduleforms {
    background-color: white;
    padding: 50px 50px;
    width: 80%;
    border-radius: 40px;
    border-color: black;
    border-width: 10px;
}

h1{
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
    width: 75%;

}

h2{
    top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    font-family: "Poppins";
}

label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: black;
}


#due {
    font-weight: 400;
    color: black;
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Poppins";
    font-weight: 600;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    align-self: center;
    margin-top: 15px;
    width: 50%;
}
